brain/
code_tracker/
browser_recordings/
conversations/
implicit/
knowledge/
prompting/
.tempmediaStorage/
mcp_config.json
openai_mcp.py
mcp.py
weather.py
supabasemcp.py
installation_id
skill.txt
layout.tsx
requirements.txt
*.pb
*.jsonc
